doctype html
html
    head
        link(rel="stylesheet" href="style.css")
        - const textStyles = {"text-align": "center", "color": "black", "background-color": "#ADD8E6", "padding": "50px", "margin-top": "50px", "margin-left": "200px", "margin-right": "200px"};
        - const listStyles = {"text-align": "center", "color": "black", "background-color": "#ADD8E6", "padding-left": "50px", "padding-right": "50px", "display": "inline", "margin-right": "100px"};
        ul
            il(style=listStyles)
                a(href="home_page.html") Home
            il(style=listStyles)
                a(href="Account.html") Account
            il(style=listStyles)
                a(href="Donations_Leader_Board.html") Donations Leader Board
            il(style=listStyles)
                a(href="About_Us.html") About Us
    body
        p(style=textStyles) DONATIONS LEADER BOARD
        p(style=textStyles) Your Donations
    foot