doctype html
html
    head
        link(rel="stylesheet" href="style.css")
        - const textStyles = {"text-align": "center", "color": "black", "background-color": "#ADD8E6", "padding": "50px", "margin-top": "50px", "margin-left": "200px", "margin-right": "200px"};
        - const listStyles = {"text-align": "center", "color": "black", "background-color": "#ADD8E6", "padding-left": "50px", "padding-right": "50px", "display": "inline", "margin-right": "100px"};
        ul
            il(style=listStyles) Home
            il(style=listStyles) Account
            il(style=listStyles) Donations Leader Board
            il(style=listStyles) About Us
    body
        p(style=textStyles) SECRET SANTA DONATIONS
        p(style=textStyles) As a non for profit organization our goal is to create an easy to use platform where people can request and donate money for charity purpose during the holidays
    foot