extends layout

block scripts
  script(src="/javascripts/api.js")

block content
  link(rel='stylesheet', href='/stylesheets/dashboard-override.css')
  h1= 'My Dashboard'
  if name
    h2= 'Welcome back, ' + name + '. You have ' + points + ' points.'
  else
    h2= 'Welcome back, ' + id + '. You have ' + points + ' points.'
  p This is where you keep track of your requests and submissions
  div
    a#requestLink(class='button', href='/users/request') Request a Gift
    a#submitLink(class='button button2', href='/users/createsubmit') Give a Gift
  
  if confirms.length > 0
    h1= 'Confirm Gifts'
    p Tell us if you've accepted the following gifts
    table#confirmTable
      thead
        tr
          th From
          th Description
          th Max Price
      tbody
        each cnf in confirms
          tr
            td= cnf.id
            td= cnf.description
            td= cnf.maxCost
            td(onclick="confirmSubmission(" + true + ",'" + cnf.request_id + "')") Yes
            td(onclick="confirmSubmission(" + false + ",'" + cnf.request_id + "')") No

  if submissions.length > 0
    h1= 'My Gift Submissions'
    p Edit your gift submissions, or see the address you need to deliver to
    table#submissionTable
      thead
        tr
          th To
          th Description
          th Max Price
          th Get Address
      tbody
        each sub in submissions
          tr
            td= sub.requestid
            td= sub.description
            td= sub.maxCost
            td(onclick="getAddress('" + sub.requestid + "')") @
            td(onclick="deleteSubmission('" + sub.request_id + "')") Delete
    
  if requests.length > 0
    h1= 'My Gift Requests'
    p Edit the gift requests you've made
    table#requestTable
      thead
        tr
          th Description
          th Max Price
      tbody
        each req in requests
          tr
            td= req.description
            td= req.maxCost
            td(onclick="deleteRequest('" + req._id + "')") Delete
