extends layout


block scripts
  
block content
  link(rel='stylesheet', href='/stylesheets/submit-override.css')
  h1= "Gift Submissions"
  h2= 'Open gift requests near you'
  table#submissionTable
    thead
      tr
        th Username
        th Gift Description
        th Max Price
    tbody
      each req in requests
        tr
          td(class='button', href='')= req.id
          td(class='button', href='')= req.description
          td(class='button', href='')= req.maxCost
